.loc-list{
    // border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    top: 365px;
    background-color: rgb(248, 248, 248);
}