// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';

// Basics
@import 'basics/reset';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';
@import 'basics/buttons';
@import 'basics/animation';

// Components
@import './cmps/navBar';

// Pages
@import './pages/home';